/* login page*/
.body-wrapper {
  width: 100%;
}
.header-cont {
  position: relative;
}
header {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 2;
  @include max-991 {
    top: 10%;
  }
}
.upper-head {
  @include flexCenter;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px 33px;
}
.logo-ancor {
  display: inline-block;
}
.logo-img {
  width: 164px;
  max-width: 100%;
  margin-bottom: 0;
}
.points-btn {
  width: 284px;
  height: 42px;
  max-width: 100%;
  border-radius: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none !important;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  background-image: linear-gradient(
    to right,
    rgb(179, 85, 223),
    rgb(72, 35, 113),
    rgb(72, 35, 113),
    rgb(179, 85, 223)
  );
  // background: var(
  //   --b,
  //   linear-gradient(301deg, rgb(72, 35, 113) 14.24%, rgb(179, 85, 223) 73.21%)
  // );
  box-shadow: 0 0 0 0 rgba(#2c3f5e, 0.5);
  box-shadow: 0 0 0 0 rgb(105 160 214 / 40%);
  background-size: 300% 100%;
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  transition: all 0.4s ease-in-out;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(105, 160, 214, 1);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(44, 63, 94, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(44, 63, 94, 0);
  }
}
.points-btn:hover {
  text-decoration: none;
  color: var(--white-color);
  box-shadow: inset 0 0 0 2em var(--main-hover);
  background-position: 100% 0;
}
.quiz-section {
  margin-top: -60px;
  position: relative;
  z-index: 1;
  @include max-991 {
    margin: 0;
  }
}
.main-img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  .main-figure {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1440/940;
    min-height: 330px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .float-img {
    position: absolute;
    inset: 0;
    width: 100%;
    background-size: 500px;
    background-repeat: repeat;
  }
}
.main-bg {
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  figure {
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1220/233;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.section-title {
  font-weight: 700;
  font-size: 24px;
  color: $white;
  text-align: start;
  margin-bottom: 15px;
}
.quiz-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @include max-991 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.quiz-card {
  display: block;
  width: 100%;
  background: var(--b, linear-gradient(301deg, #482371 14.24%, #b355df 73.21%));
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  // box-shadow: 0px 4px 4px 0px #dddddd1f;
  // border: 1px solid #e2e2e2;
  @include tr;
  &:hover {
    img {
      transform: scale(1.02);
    }
  }
  figure {
    width: 100%;
    aspect-ratio: 393/157;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include tr;
    }
  }
}
.card-content {
  padding: 25px 20px;
}
.card-title {
  margin: 0 0 30px;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  // &::after {
  //   content: "";
  //   display: inline-block;
  //   width: 270px;
  //   height: 1px;
  //   max-width: 100%;
  //   background-color: #e2e2e2;
  //   margin-top: 15px;
  // }
}
.card-status {
  font-weight: 400;
  font-size: 16px;
  color: $white;
  margin-bottom: 20px;
  // &.status-unstart {
  //   color: #7f8200;
  // }
  // &.status-closed {
  //   color: #bd0b00;
  // }
  // &.status-ended {
  //   color: #007a13;
  // }
}
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 30px;
  background: rgba(51, 22, 86, 0.4);
  width: 100%;
  max-width: 100%;
  height: 55px;
  margin: 0 auto 25px;
  // box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.12);
}
.counttimer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  font-size: 14px;
  font-weight: 700;
  color: $white;
  span {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: $white;
  }
}
.big-text {
  margin: 0;
}

.countdown-el {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: $white;
}
.card-foot {
  font-weight: 600;
  font-size: 16px;
  color: $white;
}
footer {
  background-color: $hover;
  bottom: 0;
  margin-top: 70px;
}
.footer-cont {
  @include flexCenter;
  width: 100%;
  height: 48px;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  color: $white;
}
.quiz-content {
  width: 100%;
  max-width: 357px;
  text-align: center;
  margin: 0 auto 25px;
  .card-title {
    margin-bottom: 30px;
  }
  .card-title::after {
    display: none;
  }
}
.quiz-form {
  background: var(--b, linear-gradient(301deg, #482371 14.24%, #b355df 73.21%));
  box-shadow: 0px 4px 4px 0px rgba(221, 221, 221, 0.12);
  border-radius: 10px;
  padding: 27px 40px;
  width: 100%;
  max-width: 577px;
  margin: 0 auto 40px;
  text-align: center;
  @include max-767 {
    padding: 25px 20px;
  }
}
.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 29.98px;
  color: $white;
  margin-bottom: 40px;
}
.form-input {
  background-color: #f4f4f4;
  border: 2px solid #f4f4f4;
  height: 44px;
  width: 100%;
  padding: 0 25px;
  border-radius: 24px;
  text-align: start;
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  @include tr;
  caret-color: $main;
}
.form-input:focus {
  border-color: $hover;
  outline: 0;
}
.form-btn-cont {
  width: 100%;
  margin-top: 27px;
  text-align: center;
}

.form-btn {
  background-color: $white;
  width: 100%;
  max-width: 284px;
  height: 44px;
  border-radius: 20px;
  text-transform: capitalize;
  @include flexCenter;
  font-weight: 500;
  font-size: 16px;
  color: $hover;
  border: none;
  outline: none;
  text-decoration: none !important;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $white;
    background-color: $hover;
  }
}

.form-btn:focus {
  outline: none;
}

.apply-btn {
  width: 315px;
  max-width: 100%;
  height: 48px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 25px;
  @include flexCenter;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: $white;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  cursor: pointer;
  flex-shrink: 0;
  background-color: $main;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $white;
    opacity: 0.7;
  }
}
.group-input textarea.form-input {
  height: 107px;
  padding: 10px 30px;
  resize: unset;
}
.group-input .check-group {
  margin-bottom: 5px;
}
.success-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.success-icon {
  font-size: 100px;
  margin-bottom: 5px;
  color: $white;
}
.error-icon {
  font-size: 100px;
  margin-bottom: 5px;
  color: $white;
}
.success-title {
  font-size: 16px;
  font-weight: 700;
  color: $white;
  margin-bottom: 15px;
}
.success-pargh {
  font-size: 16px;
  font-weight: 400;
  color: $white;
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

@include max-991 {
  .upper-head {
    .logo-img {
      width: 100px;
    }
  }
}
.check-group {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  margin-bottom: 35px;
}
.check-width {
  width: 100%;
  max-width: 100%;
}
.check-label {
  /* min-width: 25%; */
  text-align: start;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.3s ease-in-out;
}
.check-group input[type="checkbox"],
.check-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-group .checkmark {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid $white;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include tr;
}
.check-group .custom-checkmark {
  border-radius: 2px;
}
.check-group input[type="checkbox"] ~ .checkmark {
  border-radius: 2px;
}
// .check-group:hover input ~ .checkmark {
//   background-color: $white;
//   transition: all 0.3s ease-in-out;
// }
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: visible;
}
.check-group input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}
.check-group input:checked ~ .checkmark {
  // background-color: $white;
  border-color: $white;
}
.check-label:has(input:checked) {
  color: $white;
}
.check-group input:checked ~ .custom-checkmark {
  // background-color: $white;
}
.check-group .checkmark:after {
  content: "";
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: $white;
}
.check-group .custom-checkmark:after {
  content: "\f00c";
  font-family: "line Awesome Free";
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: $white;
  border-radius: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-pargh {
  font-weight: 400;
  font-size: 16px;
  color: $white;
  margin-bottom: 30px;
}
.swiper-cont {
  position: relative;
  padding-inline-start: 20px;
}
@media (min-width: 576px) {
  .swiper-cont {
    padding-inline-start: calc((100vw - 540px) / 2);
  }
}
@media (min-width: 768px) {
  .swiper-cont {
    padding-inline-start: calc((100vw - 720px) / 2);
  }
}
.swiper-cont {
  @include min-992 {
    padding-inline-start: calc((100vw - 960px) / 2);
  }
  @include min-1200 {
    padding-inline-start: calc((100vw - 1170px) / 2);
  }
}
/*                          main-slider                             */
/*------------------  */
.wheel-spin-box {
  position: relative;
  display: inline-block;
}
#spinwheel {
  position: relative;
  width: 360px;
  margin: auto;
}
.wheeldotsround {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wheeldotsround {
  position: absolute;
  width: 100%;
  height: 100%;
}
.wheeldotsround .wheeldots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  z-index: 1;
}
.wheeldotsround .wheeldots:nth-child(2n + 1) {
  background: #fff;
}

.wheeldotsround .wheeldots.active-dots {
  background: #ff8400;
}
.wheeldotsround .wheeldots.active-dots:nth-child(2n + 1) {
  background: #2660a4;
}

.wheeldotsround .wheeldots:nth-child(1) {
  left: calc(50% - 4px);
  top: 3px;
}
.wheeldotsround .wheeldots:nth-child(2) {
  right: 25%;
  top: 7%;
}
.wheeldotsround .wheeldots:nth-child(3) {
  right: 7%;
  top: 25%;
}
.wheeldotsround .wheeldots:nth-child(4) {
  right: 3px;
  top: 50%;
}
.wheeldotsround .wheeldots:nth-child(5) {
  right: 8.2%;
  bottom: 23%;
}
.wheeldotsround .wheeldots:nth-child(6) {
  right: 25%;
  bottom: 7%;
}

.wheeldotsround .wheeldots:nth-child(7) {
  left: calc(50% - 4px);
  bottom: 3px;
}
.wheeldotsround .wheeldots:nth-child(8) {
  left: 25%;
  bottom: 7%;
}
.wheeldotsround .wheeldots:nth-child(9) {
  left: 8.2%;
  bottom: 23%;
}
.wheeldotsround .wheeldots:nth-child(10) {
  left: 3px;
  top: 50%;
}
.wheeldotsround .wheeldots:nth-child(11) {
  left: 7%;
  top: 25%;
}
.wheeldotsround .wheeldots:nth-child(12) {
  left: 25%;
  top: 7%;
}

#spinwheel {
  position: relative;
  width: 360px;
  margin: auto;
}
#spinwheel svg {
  width: 100%;
  height: 100%;
  border: 15px solid #b355df;
  border-radius: 50%;
  background: #b355df;
}
.chartholder {
  background: #b355df;
  circle {
    fill: #ffd700 !important;
  }
}

.wheel-spin-box .chartholder .slice path {
  fill: #b355df;
}
.wheel-spin-box .chartholder .slice:nth-child(2n + 1) path {
  fill: #482371;
}
.wheel-spin-arrow {
  position: relative;
  margin-top: -35px;
  text-align: center;
  z-index: 1;
}
.wheel-spin-arrow svg {
  max-width: 65px;
  fill: #dc27ff;
  path {
    fill: #482371;
  }
}
.spin-click-button {
  background-color: #000;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 14px 35px;
  border-radius: 15px;
}

.overlay,
.overlay-spin {
  position: fixed;
  inset: 0;
  width: 100%;
  background: rgba(4, 15, 43, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  display: none;
  z-index: 99;
}
#close-overlay {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none !important;
  font-size: 30px;
  color: $white;
  @include tr;
  margin-top: 40px;
  &:hover {
    color: $white;
  }
}
.winner-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.spin-result {
  background: #37ad00;
  box-shadow: 0px 4px 4px 0px rgba(221, 221, 221, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  gap: 12px;
  padding: 21px;
  width: 80%;
  max-width: 407px;
  h3 {
    font-weight: 600;
    font-size: 28px;
    color: $white;
  }
  #spinWinner {
    font-size: 28px;
    font-weight: 700;
    color: $white;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 479.98px) {
  .spin-result {
    h3,
    #spinWinner {
      font-size: 24px;
    }
  }
  #spinwheel {
    width: 240px;
  }
}
.spin-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  img {
    max-width: 100%;
  }
  .celecbrite-1 {
    width: 156px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .celecbrite-2 {
    max-width: 450px;
    max-height: 50vh;
  }
}
.modal {
  background: rgba(4, 15, 43, 0.9);
}
.modal-title {
  color: $white;
  font-size: 20px;
  font-weight: 700;
}
.modal-dialog {
  max-width: 409px;
  margin: 10% auto;
  @include max-991{
    padding: 0 20px;
  }
}
.modal-content {
  border-radius: 10px;
  border: 0;
  background: var(--b, linear-gradient(301deg, #482371 14.24%, #b355df 73.21%));
}
.modal-header {
  border: 0;
  padding-top: 40px;
  padding-bottom: 0;
  justify-content: center;
  position: relative;
}
.modal-header .btn-close {
  position: absolute;
  inset-inline-end: 20px;
  top: 20px;
  color: $white;
  background: none;
  font-size: 24px;
  opacity: 1;
}
.modal-header .btn-close:hover {
  color: $hover;
}
.modal-body {
  padding: 25px 20px 40px;
}
.points-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    border-radius: 10px;
    background: rgb(72, 35, 113, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(221, 221, 221, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 26px;
    margin-bottom: 8px;
    color: $white;
    font-size: 18px;
    .points-name {
      font-weight: 500;
    }
    .points-num {
      font-weight: 700;
    }
  }
}
